/* CSS Reset  */

* {
    margin: 0;
    padding: 0;
}

/* CSS Reset  */

body {
    color: #27272799;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

p{
    line-height: 30px;
}

a{
    color: inherit;
    text-decoration: none;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1440px;
    display: flex;
}

.primary_btn {
    border-width: 0px;
    background: #E55473;
    border-radius: 8px;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.accent {
    color: #E55473;
}

.center_txt {
    text-align: center;
}

.featured_text h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
}

.featured_text h2 {
    padding-bottom: 24px;
}

.featured_text p {
    padding-bottom: 48px;
}

.pad_128{
    padding-top: 128px;
    padding-bottom: 128px;
}

/* Banner */

section#banner {
    background: #e554731a;
    padding-top: 50px;
}

section#banner .container {
    flex-direction: row;
    align-items: center;
}

.banner-text h2{
    color: #272727;
    font-size: 80px;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 32px;;
}

.banner-text p{
    padding-bottom: 32px;;
}


/* Banner */


/* Featured Flowers */

section#featured_flowers .container {
    flex-direction: column;
    align-items: center;
}

section#featured_flowers {
    padding-top: 178px;
}

.flower_set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 100%;
}

.flower_set .flowers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 32px;
    width: 464px;
}

.flowers .image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    min-height: 428px;
    padding-top: 130px;
}

.flowers .red, .promo_banner .red {
    background: #a7216226;
}

.flowers .blue {
    background: #0597a026;
    align-items: center;
}

.flowers .green {
    background: #477d1126;
}

.flowers p {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
/* Featured Flowers */

/* Services section */

section#services .container {
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 0 175px;
    box-sizing: border-box;
}

section#services .info_box {
    text-align: center;
    padding: 86px 0px;
}

section#services .info_box p{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    color: #272727cc;
    padding-top: 24px;

}
/* Services section */

/* Deal section */

section#hot_deal {
    background: #e554730d;
}

section#hot_deal .container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

.deal_txt {
    max-width: 580px;
    text-align: center;
}

.deal_txt h2 {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    line-height: normal;
    padding-bottom: 24px;
}

.deal_txt p {
    padding-bottom: 32px;
}

/* Deal section */

/* Instagram */

section#instagram .images {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

/* Instagram */

/* Subscription */

section#subscription .container {
    flex-direction: column;
    align-items: center;
    padding: 122px 0;
    background: url("/assets/Rectangle 9.png") no-repeat;
    background-size: contain;
}

section#subscription .featured_text h2{
    padding-bottom: 16px;
}

form.subscription_form input[type="email"] {
    width: 700px;
    line-height: 0;
    padding: 22px;
    margin: 0;
    outline: 0;
    border: 0;
    border-radius: 8px;
}

form.subscription_form {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    width: 100%;
}


/* Subscription */

/* footer */

footer {
    background: #111010;
    margin-top: 128px;
}

.logo {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 24px;

}

footer p {
    color: #ffffff;
    padding-bottom: 32px;
}

footer .copyright{
    color: #ffffff66;
}
/* footer */


/* Promo Banner */

section#prommotion {
    background: #e6e6e6;
}

section#prommotion .container {
    flex-direction: row;
}

.products {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    justify-content: center;
    column-gap: 30px;
}

.single_product {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.single_product img {
    max-width: 100%;
    width: auto;
    border-radius: 50%;
}

.single_product h4 {
    padding-top: 20px;
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: 900;
    color: #272727;
}

.single_product p {
    font-size: 18px;
    font-weight: 700;
    color: #272727;
}

.promo_banner.right {
    background-color: #a7216226;
    background-image: url("/assets/promobanner-pink.png");
    background-position: center right 200px;
    padding-left: 50px;
}

.promo_banner .deal_txt {
    text-align: left;
}

.promo_banner .deal_txt h2, .promo_banner .deal_txt p{
    text-align: left;
}

.promo_banner {
    min-height: 600px;
    background-attachment: fixed;
    background-position: center right 200px;
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Promo Banner */