/* CSS Reset  */

* {
    margin: 0;
    padding: 0;
}

/* CSS Reset  */

body {
    color: #27272799;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

p{
    line-height: 30px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1440px;
    display: flex;
}

.primary_btn {
    border-width: 0px;
    background: #E55473;
    border-radius: 8px;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.center_txt {
    text-align: center;
}

/* Banner */

section#banner {
    background: #e554731a;
    padding-top: 50px;
}

section#banner .container {
    flex-direction: row;
    align-items: center;
}

.banner-text h2{
    color: #272727;
    font-size: 80px;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 32px;;
}

.banner-text p{
    padding-bottom: 32px;;
}


/* Banner */


/* Featured Flowers */

section#featured_flowers .container {
    flex-direction: column;
    align-items: center;
}

section#featured_flowers .featured_text {
    padding-top: 178px;
    padding-bottom: 128px;
}

.featured_text h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
}

section#featured_flowers .featured_text h2 {
    padding-bottom: 24px;
}

section#featured_flowers .featured_text p {
    padding-bottom: 48px;
}

.flower_set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 100%;
}

.flower_set .flowers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 32px;
    width: 464px;
}

.flowers .image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    min-height: 428px;
    padding-top: 130px;
}

.flowers .red {
    background: rgba(167, 33, 98, 0.15);
}

.flowers .blue {
    background: rgba(5, 151, 160, 0.15);
    align-items: center;
}

.flowers .green {
    background: rgba(71, 125, 17, 0.15);
}

.flowers p {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
/* Featured Flowers */

/* Services section */

section#services {
    padding: 128px 0;
}

section#services .container {
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 0 175px;
    box-sizing: border-box;
}

section#services .info_box {
    text-align: center;
    padding: 86px 0px;
}

section#services .info_box p{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    color: #272727cc;
    padding-top: 24px;

}
/* Services section */